USE [LLSODTA]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 06/05/2012 14:41:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menu]') AND type in (N'U'))
DROP TABLE [dbo].[Menu]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06/05/2012 14:41:03 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[UserMenu]    Script Date: 06/05/2012 14:41:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserMenu]') AND type in (N'U'))
DROP TABLE [dbo].[UserMenu]
GO
/****** Object:  Table [dbo].[UserSystem]    Script Date: 06/05/2012 14:41:09 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserSystem]') AND type in (N'U'))
DROP TABLE [dbo].[UserSystem]
GO
/****** Object:  Table [dbo].[UserSystem]    Script Date: 06/05/2012 14:41:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserSystem]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserSystem](
	[Branch] [varchar](2) NOT NULL,
	[UserID] [varchar](8) NOT NULL,
	[SystemCode] [varchar](2) NOT NULL,
	[ReserveStr1] [varchar](50) NULL,
	[ReserveStr2] [varchar](50) NULL,
	[ReserveStr3] [varchar](50) NULL,
	[ReserveStr4] [varchar](50) NULL,
	[ReserveStr5] [varchar](50) NULL,
	[ReserveNum1] [numeric](18, 2) NULL,
	[ReserveNum2] [numeric](18, 2) NULL,
	[ReserveNum3] [numeric](18, 2) NULL,
	[ReserveNum4] [numeric](18, 2) NULL,
	[ReserveNum5] [numeric](18, 2) NULL,
	[RecordStatus] [varchar](1) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](10) NULL,
	[CreateWorkStation] [varchar](10) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [varchar](10) NULL,
	[ModifyWorkStation] [varchar](10) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[UserSystem] ([Branch], [UserID], [SystemCode], [ReserveStr1], [ReserveStr2], [ReserveStr3], [ReserveStr4], [ReserveStr5], [ReserveNum1], [ReserveNum2], [ReserveNum3], [ReserveNum4], [ReserveNum5], [RecordStatus], [CreateDate], [CreateBy], [CreateWorkStation], [ModifyDate], [ModifyBy], [ModifyWorkStation]) VALUES (N'01', N'admin', N'9', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserSystem] ([Branch], [UserID], [SystemCode], [ReserveStr1], [ReserveStr2], [ReserveStr3], [ReserveStr4], [ReserveStr5], [ReserveNum1], [ReserveNum2], [ReserveNum3], [ReserveNum4], [ReserveNum5], [RecordStatus], [CreateDate], [CreateBy], [CreateWorkStation], [ModifyDate], [ModifyBy], [ModifyWorkStation]) VALUES (N'01', N'khem', N'9', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x00009FCF009FDC68 AS DateTime), NULL, N'TON-PC', NULL, NULL, NULL)
/****** Object:  Table [dbo].[UserMenu]    Script Date: 06/05/2012 14:41:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserMenu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserMenu](
	[Branch] [varchar](2) NOT NULL,
	[ProgramSystem] [varchar](1) NOT NULL,
	[ProgramType] [varchar](2) NOT NULL,
	[UserID] [varchar](8) NOT NULL,
	[MenuName] [varchar](50) NOT NULL,
	[FlagMenu] [varchar](1) NULL,
	[FlagInsert] [varchar](1) NULL,
	[FlagModify] [varchar](1) NULL,
	[FlagDelete] [varchar](1) NULL,
	[FlagInquiry] [varchar](1) NULL,
	[FlagReport] [varchar](1) NULL,
	[ReserveStr1] [varchar](50) NULL,
	[ReserveStr2] [varchar](50) NULL,
	[ReserveStr3] [varchar](50) NULL,
	[ReserveStr4] [varchar](50) NULL,
	[ReserveStr5] [varchar](50) NULL,
	[ReserveNum1] [numeric](18, 2) NULL,
	[ReserveNum2] [numeric](18, 2) NULL,
	[ReserveNum3] [numeric](18, 2) NULL,
	[ReserveNum4] [numeric](18, 2) NULL,
	[ReserveNum5] [numeric](18, 2) NULL,
	[RecordStatus] [varchar](1) NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](10) NULL,
	[CreateWorkStation] [varchar](10) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [varchar](10) NULL,
	[ModifyWorkStation] [varchar](10) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 06/05/2012 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User](
	[Branch] [varchar](2) NOT NULL,
	[UserID] [varchar](8) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserPassword] [varchar](30) NULL,
	[DepartmentCode] [varchar](10) NULL,
	[SectionCode] [varchar](10) NULL,
	[LevelCode] [varchar](10) NULL,
	[UserLock] [varchar](1) NULL,
	[ChangePasswordDate] [datetime] NULL,
	[ChangePasswordStatus] [varchar](1) NULL,
	[Password1] [varchar](30) NULL,
	[Password2] [varchar](30) NULL,
	[Password3] [varchar](30) NULL,
	[Password4] [varchar](30) NULL,
	[Password5] [varchar](30) NULL,
	[ReserveStr1] [varchar](50) NULL,
	[ReserveStr2] [varchar](50) NULL,
	[ReserveStr3] [varchar](50) NULL,
	[ReserveStr4] [varchar](50) NULL,
	[ReserveStr5] [varchar](50) NULL,
	[ReserveNum1] [numeric](18, 2) NULL,
	[ReserveNum2] [numeric](18, 2) NULL,
	[ReserveNum3] [numeric](18, 2) NULL,
	[ReserveNum4] [numeric](18, 2) NULL,
	[ReserveNum5] [numeric](18, 2) NULL,
	[RecordStatus] [varchar](1) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](10) NULL,
	[CreateWorkStation] [varchar](10) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [varchar](10) NULL,
	[ModifyWorkStation] [varchar](10) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 06/05/2012 14:41:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Menu](
	[Branch] [varchar](2) NOT NULL,
	[ProgramSystem] [varchar](1) NOT NULL,
	[ProgramType] [varchar](2) NOT NULL,
	[MenuID] [varchar](10) NOT NULL,
	[MenuName] [varchar](100) NOT NULL,
	[MenuType] [int] NOT NULL,
	[MenuGroup] [varchar](100) NULL,
	[ReserveStr1] [varchar](50) NULL,
	[ReserveStr2] [varchar](50) NULL,
	[ReserveStr3] [varchar](50) NULL,
	[ReserveStr4] [varchar](50) NULL,
	[ReserveStr5] [varchar](50) NULL,
	[ReserveNum1] [numeric](18, 2) NULL,
	[ReserveNum2] [numeric](18, 2) NULL,
	[ReserveNum3] [numeric](18, 2) NULL,
	[ReserveNum4] [numeric](18, 2) NULL,
	[ReserveNum5] [numeric](18, 2) NULL,
	[RecordStatus] [varchar](1) NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [varchar](10) NULL,
	[CreateWorkStation] [varchar](10) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [varchar](10) NULL,
	[ModifyWorkStation] [varchar](10) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
